* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #d5d5d5;
  text-decoration: none;
  &:hover {
    color: #e7e7e7;
    text-decoration: none;
  }
  &.active {
    color: #fff;
  }
  &.muted {
    color: #777;
    &:hover {
      color: #888;
    }
    &.active {
      color: #999;
    }
  }
}

.content-wrapper {
  & > .header {
    padding: 20px;
  }
  & > .content {
    padding: 20px;
  }
  & > .list {
    .item {
      display: block;
      padding: 25px 10px;
      border-top: 1px solid #0000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        color: #777;
      }
      &:hover {
        background: #272727;
      }
      & + .item {
        border-top: 1px solid #272727;
      }
    }
  }
}

button, .btn {
  appearance: none;
  border: 2px solid #555;
  color: #bbb;
  background: #0000;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  transition: all 100ms;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: #ddd;
    border-color: #666;
  }
  &:active, &:focus {
    color: #fff;
    border-color: #777;
    outline: none;
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
    &:hover {
      border-color: #555;
      color: #bbb;
    }
  }
  &.sm {
    padding: 7px 17px;
    font-size: 12px;
  }
}

.formfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  & > label {
    margin-right: 20px;
  }
  & > button {
    margin-left: 20px;
  }
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
  appearance: none;
  border: 2px solid #555;
  color: #ccc;
  background: #0000;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  min-width: 250px;
  &:active, &:focus {
    border-color: #777;
    outline: none;
  }
  &.sm {
    padding: 7px 17px;
    font-size: 14px;
  }
}

input[type="file"] {
  font-size: 16px;
}

.card {
  border-radius: 3px;
  border: 1px solid #666;
  display: inline-block;
  min-width: 200px;
  transition: border-color 100ms;
  &:hover {
    border-color: #888;
  }
  header {
    padding: 20px;
    min-height: 50px;
    border-bottom: 1px solid #666;
  }
  section {
    padding: 20px;
    min-height: 100px;
  }
}

.flex-row {
  display: flex;
}
.align-center {
  align-items: center;
}

form {
  label {
    min-width: 150px;
    display: inline-block;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buttons button + button {
  margin-left: 20px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

