nav {
  height: 55px;
  background: #005aa7;
}
nav .container {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links {
  display: flex;
}
nav a {
  color: #eee;
}
nav a + a {
  margin-left: 30px;
}
footer .container {
  padding: 100px 20px;
}
footer {
  background: #555;
  color: #aaa;
}
