.form-wrapper {
  height: calc(100vh - 55px);
}
.box-wrapper {
  max-width: 400px;
  margin: 8vh auto 0;
}
.box {
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 3px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
input {
  width: 100%;
}
label {
  width: 80px;
  display: inline-block;
}
button {
  display: block;
  width: 100%;
}
