{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Photos</title>

  <link href="//fonts.googleapis.com/css?family=Poppins:300,400|Varela" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'website/base.css' %}" />
</head>

<body class="font-modern">
  {% block nav %}
  <nav id="nav" class="nav">
    <div class="container">
      <a href="/" class="logo">
        <span>Windward Apps</span>
      </a>
      <div class="links">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/news">News</a>
        <a href="/vendor-profile">Vendor Profile</a>
        <a href="/login">Login</a>
      </div>
    </div>
  </nav>
  {% endblock nav %}

  <div id="main">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
  <footer>
    <div class="container">
      &copy;
      <span id="year">2019</span> Windward Apps
    </div>
  </footer>
  {% endblock footer %}
</body>

</html>