{% extends "website/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/index.css' %}"
/>
<div class="hero">
  <div class="container">
    <h1>
      <div>high volume photography and ecommerce.</div>
      <div class="lightgray">automated for the modern professional.</div>
    </h1>
  </div>
</div>
<div class="section">
  <div class="container"><h1>cool stuff here.</h1></div>
</div>
<div class="section">
  <div class="container"><h1>more cool stuff here.</h1></div>
</div>
<div class="section">
  <div class="container"><h1>holy shit more cool stuff?</h1></div>
</div>

{% endblock %}
